@charset "UTF-8";

body {
	font-family:  arial,san-serif;

}

header { 
border-bottom: 2px;
height: 60px;
line-height: 60px;
}



.nav  {
	display: inline;
	font-family: Arial;
	text-decoration: none;
	color: #404040;
	font-size: 13px;
	padding-top: 10px;
}

#propos {
	float: left;
	display: inline-block;
	margin-left: 20px;
}

#store {
	float: left;
	display: inline-block;
	margin-left: 20px;
}

#images {
	float: right;
	display: inline-block;
	margin-right: 20px;
	}

#connexion {
	float: right;
	display: inline-block;
	margin-right: 20px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 12px;
	padding-right:12px;
	background-color: rgb(66, 133, 244);
	}

#gmail {
	float: right;
	display: inline-block;
	margin-right: 20px;
	}


.logo  {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 200px;
}

.button  {

	border-radius: 4px;
	padding: 12px 28px;
	display: block;
	margin: auto;
	font-family: Arial;

}

.texte {
	text-align: center;
	display: inline-block;
}

.recherche {
	margin-left: 520px;
	margin-right: auto;
	display: inline-block;
}





